[Unit]
Description=Synchronize AppStream metadata from repositories into AS-cache
After=local-fs.target
ConditionDirectoryNotEmpty=!/var/cache/app-info/xmls

[Service]
Type=forking
ExecStart=/usr/bin/zypper appstream-cache

[Install]
WantedBy=multi-user.target

